body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
    background: black;
}

h1 {
    font-size: 50px;
    margin: 0;
}

section {
    padding: 40px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    padding: 20px;
    background: black;
}
